/* 内部使用变量 */

/* ========================== 基础颜色========================== */
$blue:#324157;
$light-blue:#3a71a8;
$red:#c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow:#fec171;
$panGreen: #30b08f;

/* ========================== 侧边栏(菜单栏) ========================== */
// 侧边栏宽度
$sideBarWidth: 210px;

// 侧边栏标题(系统名称)颜色
$sideBarTitleColor: white;

// Logo栏背景色
$sideBarLogoBg: #2b2f3a;

// 菜单背景色
$menuBg: #282c34;

// 菜单字体颜色
$menuText:white;

// 子菜单背景颜色
$subMenuBg: #182c34;

// 子菜单鼠标悬停颜色
$subMenuHoverBg:#20232a;

// 子菜单处于active状态时候父菜单颜色
$subMenuActiveText:#3a71a8;

// 生效取决于 settings.sidebarTextTheme 设置
$menuActiveText:#409eff;

/* ========================== 导航条 ========================== */
// 导航条高度
$navBarHeight: 50px;

// 导航条背景色
$navBarBg: white;

/* ========================== tab ========================== */

// tab背景色
$tagViewBg: white;

// tab Active背景色
$tagViewActiveBg: #ccc;

// tab Active字体颜色
$tagViewActiveTextColor: #fff;

:export {
  menubg: $menuBg;
  menutext: $menuText;
  menuactivetext: $menuActiveText;
}
